body {
    background: #f3f3f3;
}

.form1 {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2 );
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    width: 500px;
}

h1{
    color: #327c35;
    text-align: center;
}

label {
    text-align: left;
}
